<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="fromEmail" value="xxxxxx@xxxxxx.com"/>
    <add key="fromEmailName" value="xxxxxx xxxxxx"/>
    <add key="FromPassword" value="xxxxxx"/>
    <add key="fromDomain" value="thedomainName"/>
    <add key="isGmail" value="true"/>
    <add key="SmptIp" value="smtp.gmail.com"/>
    <add key="SmptPort" value="587"/>
    <add key="isSsl" value="true"/>
    <add key="singleEmailFormatSubject" value="Single Case #userName#"/>
    <add key="groupEmailFormatSubject" value="Grouped Case #userName#"/>
    <add key="IPGManagerEmailSubject" value="IPG subject"/>
    <add key="PSGManagerEmailSubject" value="PSG subject"/>
    <add key="isTest" value="true"/>
    <add key="TestEmail" value="ssj2rich@gmail.com"/>
    <add key="isCCon" value="true"/>
    <add key="ccEmailAddresses" value="xxxxxx@gmail.com,xxxxxx@gmail.com"/>
    <add key="IPGManagerEmail" value="xxxxxx@gmail.com"/>
    <add key="PSGManagerEmail" value="xxxxxx@gmail.com"/>
    
  </appSettings>
</configuration>
