<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="fromEmail" value="ssj2rich@gmail.com"/>
    <add key="fromEmailName" value="Aviad Roteshtein"/>
    <add key="FromPassword" value="8988132"/>
    <add key="isGmail" value="true"/>
    <add key="SmptIp" value="smtp.gmail.com"/>
    <add key="SmptPort" value="587"/>
    <add key="isSsl" value="true"/>
    <add key="singleEmailFormatSubject" value="Single Case"/>
    <add key="groupEmailFormatSubject" value="Grouped Case"/>
    
  </appSettings>
</configuration>